:root {
  --header-height: 6vh;
  --footer-height: 8vh;
  --columns-height: calc(100vh - var(--header-height) - var(--footer-height));

  --column1-width: 10vw;
  --column2-width: calc(100vw - var(--column1-width) - var(--column3-width));
  --column3-width: 10vw;
}

.header {
  background-color: #F1F8E9;
  height: var(--header-height);
  width: 100vw;
  position:fixed;
}

.column1 {
  background-color: #DCEDC8;
  height: var(--columns-height);
  width: var(--column1-width);
  top: var(--header-height);
  position: fixed;
}

.column2 {
  background-color: #ffffff;
  height: var(--columns-height);
  width: var(--column2-width);
  top: var(--header-height);
  left: var(--column1-width);
  position: fixed;
}

.column3 {
  background-color: #DCEDC8;
  height: var(--columns-height);
  top: var(--header-height);
  width: var(--column3-width);
  right: 0;
  position: fixed;
}

.footer {
  background-color: #F1F8E9;
  height: var(--footer-height);
  width: 100vw;
  bottom: 0;
  position: fixed;
}