.current-container {
  position: fixed;
  width: 70vw;
  padding: 2vw 3vw;
  margin-top: 7vh;
  top: var(--header-height);
  left: calc(var(--column1-width) + ((var(--column2-width) - 70vw) / 2)); /* (col2 width - container width)/2, makes it centered */
  bottom: var(--footer-height);
  margin-bottom: 7vh;
  background-color: white;
  border: 0.1vw solid #c2c2c2;
  overflow-y: auto;
}