.icon {
  width: 1vw;
  height: 1vw;
}
.passwordField {
  display: inline-block;
  position: relative;
}
.passwordField input {
  vertical-align: middle;
  padding-right: 30px;
}
.toggle-password {
  display: inline-block;
  vertical-align: middle;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: 0.75vw;
}