// app global css in SCSS form

@import url("reset.css");
@import url("header.css");

.container {
    font-size: 1vw;
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: 4vh auto 8vh;
    min-height: 100vh;
}
  
.header {
    grid-column: span 4;
}
  
.div1 {
    background: #e6efd2;
    grid-column: 2/3;
}
  
.div2 {
    background: #e6efd2;
}
  
img {
    width: 25vw;
}
  
.footer {
    background: #92b682;
    grid-column: span 4;
}
